<div class="signup-container">
  <div class="back">
    <img src="../../../assets/icons/back.png" alt="Back" />
  </div>
  <form (ngSubmit)="verifyEmail()" #loginForm="ngForm">
    <div class="up">
      <input class="email" type="email" name="email" ngModel placeholder="Email" required />
      <input class="password" type="password" name="password" ngModel placeholder="Password" required />
      <input class="password" type="password" name="password" ngModel placeholder="Password" required />
      <input class="password" type="password" name="password" ngModel placeholder="Password" required />
      <input class="password" type="password" name="password" ngModel placeholder="Password" required />
      <div class="forgot-password">
        <div>Forgot password?</div>
      </div>
      <div class="signup">
        <p>Already have an account? <a class="goToSignUp" (click)="goToSignIn()">Sign In</a></p>
      </div>
    </div>
    <div class="down">
      <div class="agree">
        <input type="checkbox" required />
        <label>
          I agree to the
        </label>
        <a class="terms" href="#">Terms of Service</a>.
      </div>
      <button class="next-button" type="submit" [disabled]="!loginForm.valid">Next</button>
    </div>
  </form>
</div>
