@import url("https://fonts.googleapis.com/css?family=Montserrat:500,700");

.sign-in-background {
  width: 390px;
  height: 852px;
  background: url('./sign-in.png') no-repeat center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  font-family: 'Montserrat', serif;
  text-align: center;

  .sign-in-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 350px;
    margin-bottom: 20px;

    .label {
      font-size: 30px;
      font-weight: 700;
      line-height: 36.57px;
      letter-spacing: -1px;
      margin-bottom: 40px;
      text-align: left;
    }

    .buttons {
      display: flex;
      justify-content: space-between;

      .sign-in {
        border: 1px solid var(--color-content, #111111);
        width: 120px;
        height: 50px;
        border-radius: 6px;
        padding: 15px 30px 15px 30px;
        color: #111111;
        background: none;
        font-weight: 700;
        font-size: 16px;
        line-height: 19.5px;
      }

      .sign-up {
        width: 220px;
        height: 50px;
        border-radius: 6px;
        border: 1px solid var(--color-content, #111111);
        padding: 15px 30px 15px 30px;
        background: var(--color-content, #111111);
        color: var(--Color-2, #FFFFFF);
        font-weight: 700;
        font-size: 16px;
        line-height: 19.5px;
      }
    }
  }
}
